<div id="whitener">
</div>
<div id="piano">
</div>
<div id="title_box_row">
  <div id="title_box"></div>
</div>
<div id="title_row">
  <h1 id="home_title">USOMC</h1>
  <h1 id="sub_title">UNITED STATES OPEN MUSIC COMPETITION</h1>
</div>
<div id="nav_row">
  <ul id="home_page_nav">
    <li class=<%= is_active?(action: "about") %>><%= link_to "ABOUT", about_path, class: "home_tab" %></li>
    <li class=<%= is_active?(action: "competition") %>><%= link_to "COMPETITION", competition_path, class: "home_tab" %></li>
    <li class=<%= is_active?(action: "winners") %>><%= link_to "WINNERS", winners_path, class: "home_tab" %></li>
    <li class=<%= is_active?(action: "judges") %>><%= link_to "JUDGES", judges_path, class: "home_tab" %></li>
    <li class=<%= is_active?(controller: "users", action: "new") %>><%= link_to "REGISTRATION", registration_path, class: "home_tab" %></li>
    <li class=<%= is_active?(action: "support") %>><%= link_to "SUPPORT", support_path, class: "home_tab" %></li>
  </ul>
</div>
