<!--NAVBAR THAT NOT IN CONVENTIONAL BOOTSTRAP-->
<a href="index.html"><img src="<%= asset_path 'logo.png' %>" width="150" id="logo"></a>
<div id="navback"></div>
<input type="button" class="tab" id = "about" value = "ABOUT"/>
<input type="button" class="tab" id = "competition" value = "COMPETITION"/>
<input type="button" class="tab" id = "winners" value = "WINNERS"/>
<input type="button" class="tab" id = "judges" value = "JUDGES"/>
<input type="button" class="tab" id = "registration" value = "REGISTRATION"/>
<input type="button" class="tab" id = "support" value = "SUPPORT"/>
<input type="button" id="subtitle" value= "UNITED STATES OPEN MUSIC COMPETITION"/>
<!--END NAVBAR-->

<!--THE ACTUAL CONTENT-->
<div id="container">
    <div id = "piano"></div>
    <img src="<%= asset_path 'note1.png' %>" id="note1">
    <img src="<%= asset_path 'note2.png' %>" id="note2">
    <img src="<%= asset_path 'note3.png' %>" id="note3">
    <img src="<%= asset_path 'note4.png' %>" id="note4">
    <img src="<%= asset_path 'note5.png' %>" id="note5">
    <div id = "announcements">
        <p id="title"> ANNOUNCEMENTS: </p>
        <p id="announcement"> 2015 Registration Now Open! </p>
    </div>
    <input type="button" class="square" id = "register" value = "REGISTER"/>
    <input type="button" class="square" id = "syllabus" value = "SYLLABUS"/>
    <input type="button" class="square" id = "rules" value = "RULES"/>
    <input type="button" class="square" id = "judges2" value = "JUDGES"/>
    <input type="button" class="square" id = "location" value = "LOCATION"/>
    <input type="button" class="square" id = "donate" value = "DONATE"/>
</div>
<!--THE END OF ALL CONTENT EVER KNOWN TO MANKIND-->