<li class=<%= is_active?(action: "judges") %>><%= link_to "JUDGES", judges_path, class: (home ? "home_tab" : "tab") %></li>
<li class=<%= is_active?(controller: "users", action: "new") %>><%= link_to "REGISTRATION", registration_path, class: (home ? "home_tab" : "tab") %></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle <%= home ? 'home_tab' : 'tab' %>" data-toggle="dropdown">MORE <b class="caret <%= home ? "white-caret" : "" %>"></b></a>
  <ul class="dropdown-menu">
    <% if signed_in? %>
      <li><%= link_to 'Log out', logout_path %></li>
      <% if is_admin? %>
        <li><%= link_to 'Admin Dashboard', dashboard_path %></li>
      <% end %>
    <% else %>
      <li><%= link_to 'Log in', login_path %></li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to 'Support', support_path %></li>
    <li><%= link_to 'Scholarships', scholarships_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Adjundicator Program', adjundicator_program_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Donor Levels', donor_levels_path %></li>
    <li><%= link_to 'Sponsorship Levels', sponsorship_levels_path %></li>
    <li><%= link_to 'Current Sponsors', current_sponsors_path %></li>
    <li><%= link_to 'Make a Donation', donations_path %></li>
    <li><%= link_to 'Volunteer', volunteer_path %></li>
    <li><%= link_to 'Advertise with USOMC', advertise_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'USOMC History', history_path %></li>
    <li><%= link_to 'Board Members', board_members_path %></li>
    <li><%= link_to 'Staff Members', staff_members_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Contact Us', contact_path %></li>
  </ul>
</li>
