<!--THE ACTUAL CONTENT-->
<div id="container">
    <div id = "sideouterline"></div>
    <div id = "sideinnerline"></div>
    <div id = "sideotherouterline"></div>
    <input type="button" class = "stab" id = "part1" value="part 1"/>
    <input type="button" class = "stab" id = "part2" value="part 2"/>
    <input type="button" class = "stab" id = "part3" value="part 3"/>
    <div id="infobox">
    <p id = "stitle"> Personal Information </p>
    <p id = "info">
    Name: <br> 
    Birth Date: <br> 
    Parent Name: <br>
    Country: <br>
    Street Address: <br>
    City: <br>
    State: <br>
    Zip/Postal Code: <br>
    Phone: <br>
    Email: <br>
    Parent Email: <br>
    Current teacher: <br>
    Password: <br>
    Confirmation:
    </p>
  </div>
    <%= render partial: "shared/errors" %>
    <%= form_for(@user, html: {id: "form"}) do |f| %>
          <%= f.text_field :first_name, :placeholder => "First", :size => 15 %>
            <%= f.text_field :last_name, :placeholder => "Last" %><br>
            <%= f.date_field :date_of_birth, :placeholder => "Date of Birth" %><br>
            <input type "text" id = "long" class "input" placeholder="First" >
            <input type "text" id = "long" class "input" placeholder="Last"><br>
            <%= f.text_field :country, :placeholder => "Country"%><br>
            <%= f.text_field :street_address, :placeholder => "Address"%><br>
            <%= f.text_field :city, :placeholder => "City"%><br>
            <%= f.text_field :state, :placeholder => "State"%><br>
            <%= f.text_field :zip_code, :placeholder => "Zip/Postal Code"%><br>
            <%= f.text_field :phone_number, :placeholder => "Phone Number"%><br>
            <%= f.text_field :email, :placeholder => "Email"%><br>
            <input type="text" class="input" placeholder="First">
            <input type="text" class="input" placeholder="Last"><br>
            <%= f.password_field :password, :placeholder => "Password" %><br>
            <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
            <%= f.submit "continue", class: "submit" %>
        <% end %>
    </form>
</div>
<!--THE END OF ALL CONTENT EVER KNOWN TO MANKIND-->
