<div class="content_container">
  <%= render partial: "shared/form_errors", locals: {errors: @user.errors} %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title">REGISTRATION</h1>
          </div>
        </div>
        <div class="row">
          <%= form_for(@competition, html: {id: "form"}) do |f| %>
          <div class="col-md-2">
              <ul class="list_user_labels">
                <li class="user_input_label">First Name:</li>
                <li class="user_input_label">Last Name:</li>
                <li class="user_input_label">Date of Birth:</li>
                <li class="user_input_label">Parent's First Name:</li>
                <li class="user_input_label">Parent's Last Name:</li>
                <li class="user_input_label">Country:</li>
                <li class="user_input_label">Address:</li>
                <li class="user_input_label">City:</li>
              </ul>
          </div>
          <div class="col-md-2">
            <ul class="list_user_values">
              <li class="user_input_value"><%= f.text_field :first_name, :placeholder => "First" %></li>
              <li class="user_input_value"><%= f.text_field :last_name, :placeholder => "Last" %></li>
              <li class="user_input_value"><%= f.date_field :date_of_birth, :placeholder => "Date of Birth" %></li>
              <li class="user_input_value"><input type="text" placeholder="First"></li>
              <li class="user_input_value"><input type="text" placeholder="Last"></li>
              <li class="user_input_value"><%= f.text_field :country, :placeholder => "Country"%></li>
              <li class="user_input_value"><%= f.text_field :street_address, :placeholder => "Address"%></li>
              <li class="user_input_value"><%= f.text_field :city, :placeholder => "City"%></li>
          </div>
          <div class="col-md-2">
              <ul class="list_user_labels">
                <li class="user_input_label">State:</li>
                <li class="user_input_label">Postal Code:</li>
                <li class="user_input_label">Phone Number:</li>
                <li class="user_input_label">Email:</li>
                <li class="user_input_label">Teacher's First Name:</li>
                <li class="user_input_label">Teacher's Last Name:</li>
                <li class="user_input_label">Password:</li>
                <li class="user_input_label">Password Confirmation:</li>
              </ul>
          </div>
          <div class="col-md-1">
            <ul class="list_user_values">
              <li class="user_input_value"><%= f.text_field :state, :placeholder => "State"%></li>
              <li class="user_input_value"><%= f.text_field :zip_code, :placeholder => "Zip/Postal Code"%></li>
              <li class="user_input_value"><%= f.text_field :phone_number, :placeholder => "Phone Number"%></li>
              <li class="user_input_value"><%= f.text_field :email, :placeholder => "Email"%></li>
              <li class="user_input_value"><input type="text" placeholder="First"></li>
              <li class="user_input_value"><input type="text" placeholder="Last"></li>
              <li class="user_input_value"><%= f.password_field :password, :placeholder => "Password" %></li>
              <li class="user_input_value"><%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %></li>
            </ul>
          </div>
          <div id="reg_box">
            <p>Registration Instructions</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.submit ">>", class: "submit" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
