<div class="row" id="user_profile">
  <div class="col-md-3" id="user_sidebar">
    <ul>
      <li><%= link_to "competition", profile_path %></li>
      <li><%= link_to "description", profile_path %></li>
      <li><%= link_to "contact info", profile_path %></li>
      <li><%= link_to "pieces", profile_path %></li>
      <li><%= link_to "notes", profile_path %></li>
    </ul>
  </div>

  <div class="col-md-9" id="main_user_info">
    <h1 class="title"><%= @user.first_name %> <%= @user.last_name %></h1>

    <div class="row">
      <div class="col-md-3">
        <ul class="list_user_labels">
          <li class="user_info_label">City:</li>
          <li class="user_info_label">State:</li>
          <li class="user_info_label">Country:</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list_user_values">
          <li class="user_info_value"><%= @user.city %></li>
          <li class="user_info_value"><%= @user.state %></li>
          <li class="user_info_value"><%= @user.country %></li>
        </ul>
      </div>
    </div>

  </div>
</div>
