<div class="container">
  <div class="row" id="user_profile">
    <div class="col-md-3 no_padding" id="user_sidebar">
      <ul class="profile_component_links">
        <li class="highlighted"><%= link_to "profile", profile_path %></li>
        <li><%= link_to "competitions", profile_path %></li>
        <li><%= link_to "pieces", profile_path %></li>
        <li><%= link_to "notes", profile_path %></li>
      </ul>
    </div>

    <div class="col-md-9" id="main_user_info">
      <h1 class="title"><%= @user.name %></h1>

      <div class="row">
        <div class="col-md-3">
          <ul class="list_user_labels">
            <li class="user_info_label">City:</li>
            <li class="user_info_label">State:</li>
            <li class="user_info_label">Country:</li>
            <li class="user_info_label">Events:</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list_user_values">
            <li class="user_info_value"><%= @user.city %></li>
            <li class="user_info_value"><%= @user.state %></li>
            <li class="user_info_value"><%= @user.country %></li>
            <% @user.events.includes(:display_event).each do |event| %>
              <li><%= event.name %></li>
            <% end %>
            <% if current_user?(@user) %>
              <li><%= link_to "Edit", edit_user_path(@user) %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
