<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
          <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name  %></td>
            <td class="divider"><%= link_to "Show", admin_category_path(category), class: "admin_link"  %></td>
            <% if current_user != nil and current_user.has_role?(:admin) %>
              <td class="divider"><%= link_to "Edit",  edit_admin_category_path(category), class: "admin_link" %></td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <%= will_paginate(@categories, renderer: WillPaginate::ActionView::LinkRenderer) %>
      </div>
    </div>
  </div>
<
