<div class="container">
  <div class="row">
    <div class="col-md-12 search-bar-space">
      <p>
        Looking for a specific user? Search using their first name, last name, address, or phone number!
      </p>
      <%= form_tag admin_users_search_path, method: :get do %>
        <div class="input-group">
          <%= text_field_tag :q, params[:q], class: "form-control search-field" %>
          <span class="input-group-btn">
            <%= submit_tag "Search", class: "btn btn-default", name: nil %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table>
        <tr>
          <th>ID</th>
          <th>Last Name</th>
          <th>First Name</th>
        </tr>
        <% @users.each do |user| %>
        <tr class="user-info-row">
          <td><%= user.id %></td>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= link_to "More Details", admin_user_path(user), class: "admin_link" %></td>
          <td><%= link_to "Edit #{user.name}'s info",  edit_admin_user_path(user), class: "admin_link" %></td>
        </tr>
        <% end %>
      </table>
      <%= will_paginate(@users, :renderer => WillPaginate::ActionView::LinkRenderer) %>
    </div>
  </div>
</div>
