<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Year</th>
          <th>Location</th>
          <th>Venue</th>
        </tr>
        <% @competitions.each do |competition| %>
        <tr>
          <td><%= competition.id %></td>
          <td><%= competition.name %></td>
          <td><%= competition.year %></td>
          <td><%= competition.location %></td>
          <td><%= competition.venue %></td>
          <td><%= link_to "More Details", admin_competition_path(competition), class: "admin_link" %></td>
          <td><%= link_to "Edit #{competition.display_name}",  edit_admin_competition_path(competition), class: "admin_link" %></td>
        </tr>
        <% end %>
      </table>
      <%= will_paginate(@competitions, renderer: WillPaginate::ActionView::LinkRenderer) %>
    </div>
  </div>
</div>
